﻿@model IEnumerable<ToDone.Models.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Tasks</h2>

<div>
    @using (Ajax.BeginForm("Create", "Task", new AjaxOptions { UpdateTargetId = "todoList", OnComplete = "addComplete" }, new { @class = "form-inline text-center" }))
    {
        <input id="inputNewTask" type="text" name="name" class="form-control" placeholder="Task" />
        <button type="submit" class="btn-primary">Add</button>
    }

    @Html.Partial("Partials/TodoList")
</div>