﻿@using System.Web.Optimization

@{

}

<head>
    <title>ToDone: Simple todo list application</title>

    @Styles.Render("~/Content/bootstrap/less")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/Scripts/knockout")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/site")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>