﻿@model IEnumerable<ToDone.Models.Task>

<div class="row" id="todoList">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-content-center" data-bind="visible: todoList().length > 0">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completed)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td><input class="form-control text-center" value="@item.Name"/></td>
                        <td>@item.CreatedAt</td>
                        <td><input type="checkbox"/></td>
                        <td>@Ajax.ActionLink("Delete", "Delete", new {id = @item.Id}, new AjaxOptions
                            {
                                Confirm = "Do you want to delete?",
                                OnComplete = "deleteComplete",
                                HttpMethod = "DELETE"

                            })</td>
                    </tr>
                    i++;
                }
            }
            </tbody>
        </table>
    </div>
</div>